[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jazzmin = "*"
django-storages = "*"
environs = "*"
shortuuid = "*"
pylint-django = "*"
drf-yasg = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-anymail = "*"
setuptools = "*"
psycopg2 = "*"
django-channels = "*"
celery = "*"
mysqlclient = "*"
dj-database-url = "*"
pillow = "*"
djoser = "*"
django-filter = "*"
gunicorn = "*"
six = "*"
tzdata = "*"
uritemplate = "*"
s3transfer = "*"
pyjwt = "*"
marshmallow = "*"
packaging = "*"
asgiref = "*"
boto3 = "*"
botocore = "*"
idna = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
